body{
    background-image: url('https://media.istockphoto.com/photos/view-of-a-green-meadow-with-blue-flowers-on-a-sunny-day-picture-id173936056?b=1&k=20&m=173936056&s=170667a&w=0&h=-dyn96uJxXTHRaALnizqaxik4UHC9SbKphhf7I9B2d8=');
    background-repeat: no-repeat;
    background-size: cover;
    color: #03071e;
}

label{
    font-size: 20px;
}

input{
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background: none;
}

input::placeholder{
    color: black;
}

button{
    padding: 3px 15px;
    border: none;
    background-color: #fbaf00;
    border-radius: 5px;
}

button:active{
    transform: scale(0.95);
}

#city{
    font-size: 30px;
}

#temp{
    font-size: 65px;
}

#weather{
    font-size: 30px;
}

#min_max{
    font-size: 20px;
}